{%extends "layout.html"%}
{%block content%}
    <div class = "container" style="background-color: #d9ffcc;">
        <h2>Unos prihoda</h2>
        <br>
        <form action="" class="form-horizontal">    
            <div class="form-group">                    
                <label for="iznos" class ="control-label col-sm-2">Unesi iznos:</label>
                <div class="col-sm-10">
                    <input type="text" id="iznos" name="iznos" class="form-control"><br><br>
                </div>
            </div>
            <div class ="form-group"> 
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class = "btn btn-primary m-1" value="Unesi prihod">
                </div>
            </div>
          </form> 
    </div>
{%endblock%}
